 {% extends 'base.html' %}

 {% block title %}
     Game: {{ game.title }}
 {% endblock %}

{% block content %}
    <h3>{{ game.description }}</h3>
    
    <!-- Brython Libraries -->
    <script type="text/javascript" src="../../static/js/vendor/brython/brython.js"></script>
    <script type="text/javascript" src="../../static/js/vendor/brython/brython_stdlib.js"></script>
    <script>
    window.GAMES = {};
    function evalPython(src) {
        __BRYTHON__.debug = 1;
        __BRYTHON__.curdir = ''; // Serious bug: need to set this or can't import os
        try {
            eval(__BRYTHON__.python_to_js(src));
        } catch (err) {
            for (let key of Object.keys(err)) {
                console.log(err[key]);
            }
            console.log(err);
        }
    }
    </script>
    
    <style>
    
    .game-terminal {
        width: 80ch;
        /*height: 40ch;*/
        font-family: monospace;
        white-space: pre;
        background-color: black;
        color: white;
        /*overflow-y: auto;*/
        /* TODO: Make look like paper */
    }

    .game-error {
        font-family: monospace;
        white-space: pre;
        width: 80ch;
    }
    
    </style>
    
    <script>
    // Main entry point
    function Game(targetId, gameCode) {
        this.targetId = targetId;
        this.target = $("#"+targetId);
        this.code = gameCode;
        this.started = false;
        this.registerGame();
        this.createInterface();
        this.registerHandlers();
    }

    Game.prototype.registerGame = function() {
        if (typeof window.GAMES === undefined) {
            window.GAMES = {};
        }
        window.GAMES[this.targetId] = {
            'code': this.code,
            'end': this.stop.bind(this),
        }
    }
    
    Game.prototype.registerHandlers = function() {
        this.target.find('.game-start').click(this.handleStartStop.bind(this));
    }
    
    Game.prototype.createInterface = function() {
        let interfaceComponents = [
            this.createButtons(),
            this.createErrorArea(),
            this.createTerminal(),
            this.createInputs()
        ];
        this.target.html($(interfaceComponents.join("\n")));
    }
    
    Game.prototype.createButtons = function() {
        return [
        "<button type='button' class='btn btn-success game-start'>Start</button>",
        ].join("\n");
    }
    
    Game.prototype.createTerminal = function() {
        return [
        "<div class='game-terminal'>",
            "<div class='game-lines'>",
            "</div>",
            "<div class='game-cap'>",
            "</div>",
        "</div>"
        ].join("\n");
    }

    Game.prototype.createErrorArea = function() {
        return [
        "<div class='game-error alert alert-danger' style='display:none'>",
        "</div>"
        ].join("\n");
    }
    
    Game.prototype.createInputs = function() {
        return [
        "<label for='game-input'></label>",
        "<div class='input-group mb-3'>",
            "<input disabled class='game-input form-control' autocomplete='off'>",
            "<div class='input-group-append'>",
                "<button type='button' disabled class='btn btn-secondary game-enter'>Enter</button>",
            "</div>",
        "</div>",
        ].join("\n");
    }

    function toPy(data) {
        return JSON.stringify(data);
    }

    Game.prototype.showError = function(message) {
        this.target.find('.game-error').show();
        this.target.text(message);
    }

    Game.prototype.ENGINE = [
        "from browser.html import BR",
        "__terminal.text = ''",
        "__terminal <= render_introduction()",
        "world = create_world()",
        "def __draw_world(world):",
        "    __terminal <= render(world)",
        "    __terminal <= BR()",
        "    __cap.scrollIntoView({'behavior': 'smooth'})",
        "    options = get_options(world)",
        // Do autocomplete and selectable buttons
        "    for option in options:",
        "        __terminal <= option",
        "        __terminal <= BR()",
        "__draw_world(world)",
        "def __handle_command(event):",
        "    command = __input.value",
        "    message = update(world, command)",
        "    __terminal <= message",
        "    __terminal <= BR()",
        "    __cap.scrollIntoView({'behavior': 'smooth'})",
        "    __input.value = ''",
        "    if world['status'] == 'playing':",
        "        __draw_world(world)",
        "    else:",
        "        __terminal <= render_ending(world)",
        "        __finish(event)",
        "def __finish(event):",
        "    __enter.unbind('click', __handle_command)",
        "    __input.unbind('keypress', __handle_enter)",
        "    __stop.unbind('click', __finish)",
        "    __end()",
        "def __handle_enter(event):",
        "    if event.charCode == 13:",
        "        __handle_command(event)",
        "",
        "__enter.bind('click', __handle_command)",
        "__input.bind('keypress', __handle_enter)",
        "__stop.bind('click', __finish)",
    ].join("\n");

    Game.prototype.handleStartStop = function() {
        if (this.started) {
            this.stop();
        } else {
            this.start();
        }
        this.started = !this.started;
    }
    
    Game.prototype.start = function() {
        this.target.find(".game-error").hide();
        this.target.find(".game-lines").text("Game loading - please wait!");
        this.target.find(".game-start").text("Stop").removeClass("btn-success").addClass("btn-danger");
        this.target.find(".game-input").val('').prop('disabled', false);
        this.target.find(".game-enter").prop('disabled', false);
        setTimeout(() => {
            this.run();
        }, 300);
    }

    Game.prototype.run = function() {
        let gameRunner = [
            'from browser import window, document',
            'import traceback',
            'root = '+toPy(this.targetId),
            // HTML components
            "terminal = document[root].select('.game-lines')[0]",
            "cap = document[root].select('.game-cap')[0]",
            "input = document[root].select('.game-input')[0]",
            "enter = document[root].select('.game-enter')[0]",
            "error = document[root].select('.game-error')[0]",
            "stop = document[root].select('.game-start')[0]",
            // JS Data
            "code = window['GAMES'][root]['code']",
            "gameWindow = window['GAMES'][root]",
            "end = window['GAMES'][root]['end']",
            // Injecting student code
            "code = code[:code.find('def main():')]",
            "code = code + '''"+this.ENGINE+"'''",
            // Execute
            "compiled = compile(code, '__main__', 'exec')",
            "sandbox = {'__terminal': terminal, '__input': input, ",
            "           '__enter': enter, '__cap': cap, '__end': end,",
            "           '__stop': stop}",
            "try:",
            "    exec(compiled, sandbox)",
            "except Exception as err:",
            "    message = traceback.format_exc()",
            "    error.text = message",
            "    error.style.display = 'block'",
            // TODO: Error state would leave the handlers open
            ""
        ].join("\n");
        console.log(gameRunner);
        console.log(evalPython(gameRunner));
    }
    
    Game.prototype.stop = function() {
        this.target.find(".game-input").prop('disabled', true);
        this.target.find(".game-enter").prop('disabled', true);
        this.target.find(".game-start").text("Start").addClass("btn-success").removeClass("btn-danger");
        this.started = false;
    }
    
    $(document).ready(function() {
        let gameCode = document.getElementById('source-code').innerText;
        let root = 'main-game';
        let main = new Game(root, gameCode);
    });
    
    </script>
    
    <!-- Play Zone -->
    <div id="main-game">
    I should be removed!
    </div>
    
    <pre id="source-code" class='d-none'>{{ game.code }}</pre>

{% endblock %}