{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <div class="jumbotron" style="background-color: #9eee9f">
    <div class="container">
        <h1>Hello, world!</h1>
        <h3>There are currently  {{ total_games }} games in the database</h3>
    </div>
    </div>
    <div class="row">
        <h4>Games to choose from</h4>
        <ul>
            {%  for game in games %}
                <a class="list-group-item" style="background-color: #f8f8a9" href="{{ game.get_absolute_url }}">
                    <div class="row">
                        {{ game.title }} by {{ game.creator }}
                    </div>
                    <div class="row">
                        {{ game.description }}
                    </div>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}