{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <style>
    a.custom-card,
    a.custom-card:hover {
      color: #212529;
      text-decoration: none;
    }
    </style>
    <div class="jumbotron" style="background-color: white">
    <div class="container">
        <h1>Hello, world!</h1>
        <h3>There are currently  {{ total_games }} games in the database</h3>
        <h3>Please click one below:</h3>
    </div>
    </div>
    <div class="row justify-content-center">
            {%  for game in games %}
                <a href="{{  game.get_absolute_url }}" class="custom-card">
                <div class="col-auto mb-4">
                <div class="card">
                <h3 class="card-header"><i class="fas fa-play-circle"></i> {{ game.title }}</h3>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">By {{ game.creator }}</h6>
                    <p class="card-text">{{ game.description }}</p>
                </div>
                </div>
                </div>
                </a>
            {% endfor %}
    </div>
{% endblock %}